@import url(https://fonts.googleapis.com/css?family=Nonito:700italic);

html {
    height: 100%;
}

body {
    background-color: snow;
    min-height: 100%
}
.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
}

.name h1 {
    font: 700 7.7em 'Nonito', sans-serif;
    text-transform: uppercase;
    background: url('../assets/images/clouds.png') -10px -100px no-repeat;
    background-size: 10em auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@media(max-width: 768px) {
    .name h1 {
        font: 700 4.7em 'Nonito', sans-serif;
    }   
}
