html {
  height: 100%;
  font-family: 'Economica', sans-serif;
}

body {
  background-color: snow;
  min-height: 100%
}
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  height: 100vh;
}

.name h1 {
  font: 700 13em 'Economica', sans-serif;
  text-transform: uppercase;
  background: url('../assets/images/clouds.png') -600px -580px no-repeat;
  background-size: 10em auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

@media(max-width: 768px) {
  .name h1 {
    font: 700 4.7em 'Economica', sans-serif;
  }   
}
