html {
  height: 100%;
  font-family: 'Economica, 'Open Sans', sans-serif;
}

body {
  background-color: snow;
  min-height: 100%;
}

#bio-name {
  font-size: 2em;
}

#bio-title {
  font-size: 1.2em;
}

span.label {
  font-size: 0.8em;
}

a img, button {
  border: none;
}

a, a:hover, a:active, button {
  text-decoration: none !important;
  outline: 0;
}

.section {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
}

.name h1 {
  font: 700 13em 'Economica', sans-serif;
  text-transform: uppercase;
  background: url('../images/clouds.png') -600px -580px;
  background-size: 10em auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.scroll-button {
  background: transparent;
  border-style: none;
  width: 30em;
  height: 5em;
  bottom: 0;
  position: absolute;
  outline: none;
}

.glyphicon-chevron-down {
  font-size: 2em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-me {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
}

#profile-img {
  border: 5px solid #eee;
  transition: all 0.2s ease-in-out;
  margin: 20px 0;
  padding: 1px;
  max-width: 400px;
}

#location {
  font-size: 0.5em;
  color: #888888;
}

#threejs {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.description {
  z-index: 5;
  position: absolute;
  color: white;
  bottom: 0;
  float: left;
  max-width: 500px;
}

#coming-soon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media screen and (min-height: 570px) and (min-width: 570px) {
  #nav {
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    margin-top: 0;
    z-index: 100;
    font-family: 'Open Sans';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .08em;
    display: none;
  }
  
  #nav-about::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 14px;
    height: 1px;
    background-color: #000;
    transition: transform .7s cubic-bezier(.19,1,.22,1);
    transform-origin: left;
  }

  #nav-about:hover::before {
    transform: translateX(10px) scaleX(1.4);
    transition-duration: .5s;
  }

   #nav-about::after {
    content: none;
  }
  
  #nav-about {
    position: absolute;
    top: 40px;
    right: 51px;
    padding-left: 40px;
    transform-origin: right top;
    transform: rotate(-90deg);
    display: inline-block;
    color: #888888;
  }
  
  #nav-items {
    position: absolute;
    left: 0;
    padding: 0;
    white-space: nowrap;
    transform-origin: left bottom;
    transform: rotate(-90deg);
    bottom: 30px;
    display: inline-block;
  }
  
  .nav-item {
    padding: 0 15px;
    transition: color .3s;
    color: #888888;
  }
}

@media screen and (max-width: 570px) {
  #nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .name h1 {
    font: 700 4.7em 'Economica', sans-serif;
  }
  
  .section {
    margin: 0 auto;
    text-align: center;
    height: 100vh;
  }
  
  #profile-img {
    max-width: 300px;
  }
  
  #bio {
    margin-left: 2em;
  }
}